<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!-- eBay developer application id-->
    <add key="AppID" value="AIBuy2c47-785a-4be5-a5b3-bcc07f403c5"/>
    <!-- eBay Finding service sandbox address-->
    <add key="FindingServerAddress" value="http://svcs.sandbox.ebay.com/services/search/FindingService/v1"/>
    <!-- eBay Finding service production address-->
    <!--add key="FindingServerAddress" value="http://svcs.ebay.com/services/search/FindingService/v1"/-->
    <!-- eBay token for sandbox or production -->
    <add key="EBayToken" value="AgAAAA**AQAAAA**aAAAAA**s97VVg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4GhAJOLpQydj6x9nY+seQ**YrEDAA**AAMAAA**saiY9V/fLEAIToQCBFT5Gyv5Q5tjX8qR778ZcaRxHJNM6NY/THmGT6t8GOlWLUKNQ9Rj5wCj1iVqd5MKgYT1n7zThd6KJgZH4JZPt2KrZNhGHa0sptCFGcbkoMKrDGfMZCEwlWMN0+JQ0fbLQkCPr7SLajCI5E8pDG5DOT+Dy6S1GiroPDuGXYt3VlchELhlqqJpKWsF/CDZZEpbzhfnl45ck/cMyKcnoi4mjBqWxA9t45SKz8+ywsYHRqVCEe17Tis0bDT0BDXiIwXOQ9nQuTLvl2SbT4ESSH52nqS/aC6wkKPknEW/1PMj7/tzX0/z1K7eQl/XD/A9NqujA9006g+c6QMiSb8FCMKXBXh9FTSsxUtY7KGHtsfvCly5VsZf/nZz6PPo5t6nMZMY4Fokw7YpBLZnkwDxyInbLmCCCG7ORHJV3vyNITgOe9OkCKYLdvqKNz65UODOYG/lCGOfnMrWz2Ra8/IWACl2jRAigsXX9HpN9yyusndpk4FzS0kMYzae9VA7EHT7kmu9PCqGfKBbG72h0tDQQA0e5kSNzA4vTgmN0F4o3Iwu1gNNjYWRNyEIlgUXji6GV0021uK9Ub3D2rqj+D2aOWbqtwNdjv56BDlIMZnUCoWPoHO3GZ0BMbUiF/L9gSSmOgRlSWIcqi2DoySht9lPxgDz+C4i2DyTS5OQ3t3X25ZJBu/GASOHjYbrfoqkbbmMWNuW1dZAlhu0OKRgzvSWo4dVr3UjtB1z1g/WhXc5DwCONvGlPpqK" />
    <!-- eBay Trading API sandbox address-->
    <add key="TradingServerAddress" value="https://api.sandbox.ebay.com/wsapi"/>
    <!-- eBay Trading API production address-->
    <!--add key="TradingServerAddress" value="https://api.ebay.com/wsapi"/-->
  </appSettings>
</configuration>